
{% block content %}
    
    <div class="wrapper"> 
        <div class="wrapper_small"> 
           
            <div class="widget">
                <div class="tab-pane active" id="glyphs">
                            <ul class="clearfix">
                                <li><a href="{{site_url('risque/add')}}/?xl={{ femme.id|crypter }}"><i class="fam-tag-red"></i> Risque</a></li>
                                <li><a href="{{site_url('examen/add')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> 1er Examen</a></li>
                                <li><a href="{{site_url('evenement/bcf')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> BCF</a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> PDE</a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> Col et descente de la tête</a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> Contraction par 10 minutes</a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> Unité d'ocytocine par litre </a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> Medicaments prescrits </a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> Pouls / TA </a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> Temperature</a></li>
                                <li><a href="{{site_url('evenement/pde')}}/?xl={{ femme.id|crypter }}"><i class="fam-table-multiple"></i> urine </a></li>
                                
                            </ul>    
                </div>
            </div>
                                 <div id="popup"></div>
	 
        </div>     
    </div>   
                            <script src="{{ js_url('files/ajax.jquery.min') }}"></script>
    <script type="text/javascript"> 
       
         $('#cpn1').click(function () {
            if (this.checked) {
                $(".nb_cpn").show();
               // alert("Oui");
            }
        });
        $('#cpn2').click(function () {
            if (this.checked) {
                $("#nb_cpn").val('');
                $(".nb_cpn").hide();
                // alert("Non");
            }
        });
         $(".nb_cpn").hide();
          $(".bcf").click(function() {
                              $.ajax({
                                  url: "../../../evenement/bcf",
                                  type: "GET",
                                  async: false,
                                  success: function(response) {
                                      $("#popup").empty().append(response);
                                     // $(".div_documentbudget").empty().append(response);
                                  }
                              });
                          });
    </script>
{% endblock %}
