{% extends "themes/default/layout.html.twig" %}
{% block title %}
    Delivrance  {{ parent() }}
{% endblock %}

{% block content %}

    <div class="wrapper">
        <br>
        <div class="row">
            {{ getMessages()|raw }}
        </div>
        <div class="widget">
            <div class="well row-fluid">
                <div  id="framework-content">
                    <div class="tabbable"><!-- default tabs -->
                        {% include "home/tab1.html.twig" %}
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">                              
                                <div id="impactCreate">
                                    <input type="hidden" value="{{femme.id}}" class="span4" name="femme_id" id="femme_id"/>
                                    <input type="hidden" value="{{refer}}" class="span4" name="refer" id=""/>
                                    {%if(refer==1)%}
                                        {% include "delivrance/refer.html.twig" %}
                                    {%else%}
                                        {% include "delivrance/create.html.twig" %}
                                    {%endif%}
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">                               
                                <div id="outcomeCreate">

                                </div>
                            </div>
                            <div class="tab-pane" id="tab3" >           
                                <div id="outputCreate">

                                </div>
                            </div>
                            <div class="form-actions align-right">
                                {#<a href="{{site_url("configuration/resultFramework/reset")}}"  <button type="reset" class="btn"><i class="fam-arrow-rotate-anticlockwise"></i>Reset</button> </a>
                                 {% if operation == 1%} <button style="display: none;" class="btn btn-danger" id="cancel"><i class="fam-cancel"></i>Cancel</button> {%endif%}#}
                                <a href="{{site_url("home/home")}}" <button type="" class="btn btn-inverse"> <i class="ico-arrow-left"></i>{{'Exit'}}</button>  </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
