<ul class="nav nav-tabs">
    <li id="table1"><a href="{{site_url("home/home")}}">{{'Travail'}}</a></li>
    <li id="table2" class="active"><a href="{{site_url("home/home/postPartum")}}" >{{'Post partum'}}</a></li>
    <li id="table3"><a  href="{{site_url("home/home/archive")}}" >{{'Archive'}}</a></li> 
</ul> 