{% extends "themes/default/layout.html.twig" %}
{% block title %}
    {{"Femme"}}  {{ parent() }}
{% endblock %}
{% block breadcrumb %}  
    <li class="active"><a href="{{ site_url("femme") }}" title="">{{"Femme"}}</a></li> 
    {% endblock %}

{% block content %}
    <div class="wrapper"> 
        <div class="wrapper_small"> 
            <br>

            <div class="row">
                {{ getMessages()|raw }}
            </div>
            <div class="widget">
                <div class="navbar"><div class="navbar-inner"><h6>{{"Femme"}} / {{"Nouveau"}}</h6></div></div>
                <div class="well row-fluid">
                    <form id="validate" class="form-horizontal" action="{{ site_url("femme/create") }}" method="post"> 


                        <div class="control-group">
                            <label class="control-label">{{"Prenom"}}: <span class="text-error">*</span></label>
                            <div class="controls">
                                <input type="text" value="" class="validate[required] span4" name="prenom" id="prenom"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{"Nom"}}: <span class="text-error">*</span></label>
                            <div class="controls">
                                <input type="hidden" value="{{session.userdata.structure}}" class="span4" name="structure" id="structure"/>
                                <input type="text" value="" class="validate[required] span4" name="nom" id="nom"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{"Age"}}: <span class="text-error">*</span></label>
                            <div class="controls">
                                <input type="number" value="" class="span2" name="age" id="age"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{"Nom du mari"}}: <span class="text-error">*</span></label>
                            <div class="controls">
                                <input type="text" value="" class="span4" name="nom_mari" id="mari"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{"Village"}}: <span class="text-error">*</span></label>
                            <div class="controls">
                                <input type="text" value="" class="span4" name="village" id="mari"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Antécédants:</label>
                            <div class="controls">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <input type="number" name="nb_grossesse" class="span12" /><span class="help-block align-center">Grossesse</span>
                                    </div>
                                    <div class="span2">
                                        <input type="number" name="nb_parite" class="span12" /><span class="help-block align-center">Parité</span>
                                    </div>
                                    <div class="span2">
                                        <input type="number" name="nb_enfant_vivant" class="span12" /><span class="help-block align-center">Vivant</span>
                                    </div>
                                    <div class="span2">
                                        <input type="number" name="nb_avortement" class="span12" /><span class="help-block align-center">Avortement</span>
                                    </div>
                                    <div class="span2">
                                        <input type="number" name="nb_iig" class="span12" /><span class="help-block align-center">IIG</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{"Motif"}}: <span class="text-error">*</span></label>
                            <div class="controls">
                                <input type="text" value="" class="span4" name="motif" id="motif"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Entrée à la maternité:</label>
                            <div class="controls">
                                <ul class="dates-range no-append">
                                    <li><input type="date" placeholder="date..." id="date" class="validate[required]" name="date_entree" ></li>
                                    <li class="sep">-</li>
                                    <li><input class="span12 validate[required]" type="time" name="heure_entree" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{"Debut travail"}}: <span class="text-error">*</span></label>
                            <div class="controls">
                                <ul class="dates-range no-append">
                                    <li><input type="date" placeholder="date..." id="date_travail" class="validate[required]" name="date_travail" ></li>
                                    <li class="sep">-</li>
                                    <li><input class="span12 validate[required]" type="time" name="heure_travail" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">{{"Rupture des membranes"}}: <span class="text-error">*</span></label>
                            <div class="controls">

                                <label class="radio inline">
                                    <input class="styled" type="radio" name="rupture_membrane" id="rupture_membrane1" value="1" data-prompt-position="topLeft:-1,-5"/>
                                    Oui
                                </label>
                                <label class="radio inline">
                                    <input class="styled" type="radio" name="rupture_membrane" id="rupture_membrane2" value="0" data-prompt-position="topLeft:-1,-5"/>
                                    Non
                                </label>

                                <label class=" inline rupture">
                                    <ul class="dates-range no-append">
                                        <li><input type="date" placeholder="date..." id="date_rupture" class="span12" name="date_rupture" ></li>
                                        <li class="sep">-</li>
                                        <li><input class="span12" type="time" name="heure_rupture" /></li>
                                    </ul>
                                    <select  id="pde"  name="pde" class="validate[required]">
                                        <option value="">-- Choisir le PDE --</option> 
                                        <option value="1" alt="" {{ set_select('1')}}>Intacte ou liq. clair</option>
                                        <option value="2" alt="" {{ set_select('2')}}>Liq. teinté</option>
                                        <option value="3" alt="" {{ set_select('3')}}>Rompue 12H</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="form-actions align-right">
                            <button type="submit" class="btn btn-success"><i class="fam-accept"></i>Enregistrer</button>
                           <!-- <a class="btn btn-inverse" href="{{ site_url("femme") }}"><i class="fam-table"></i>{{"Liste des matières"}}</a>-->
                        </div>
                    </form>  
                </div> 
            </div>
        </div>     
    </div> 
    <script src="{{ js_url('files/ajax.jquery.min') }}"></script>
    <script type="text/javascript">

        $('#rupture_membrane1').click(function () {
            if (this.checked) {
                $(".rupture").show();
                // alert("Oui");
            }
        });
        $('#rupture_membrane2').click(function () {
            if (this.checked) {
                $("#date_rupture").val('');
                $(".rupture").hide();
                // alert("Non");
            }
        });
        $(".rupture").hide();
    </script>
{% endblock %}
