{% extends "themes/default/layout.html.twig" %}
{% block title %}
{{Femme}}  {{ parent() }}
{% endblock %}
{% block breadcrumb %}  
<li class="active"><a href="{{ site_url("femme") }}" title="">{{"Femme"}}</a></li> 
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="wrapper_small">
        <br>
        <div class="widget">
            <div class="navbar"><div class="navbar-inner"><h6>{{"Femme"}}</h6>
                    <a href="{{ site_url("femme/add") }}" title="">
                        <button type="button" class="btn btn-primary pull-right"><b class="icon-plus"></b>Ajouter</button></a></div></div>
            <div class="table-overflow">
                <table class="table table-striped table-bordered" id="data-table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nom Prenoms</th>
                            <th>Classe</th>
                            <th>Filière</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for femme in femmes %}

                        <tr>
                            <td>{{ femme.id }}</td>
                            <td><a href="{{ site_url("femme/edit") }}/?xl={{ femme.id|crypter }}" title="">{{ femme.nom }} {{ femme.prenom }}</a></td>
                            <td>{{ femme.classe.libelle }}</td>
                            <td>{{ femme.structure.libelle }}</td>
                        </tr>

                {% endfor %}  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
